<div class="bg-gradient">
    <div class="container login">
      <div class="login-box col-md-6">
  <form action="#" class="my-form">
  <h1>Congratulations, Quiz Completed</h1>

    <div class="form-group">
<table>
    <tr>
        <td>Attempts</td>
        <td>:</td>
        <td>10</td>
    </tr>
    <tr>
        <td>Wrong Answer</td>
        <td>:</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Right Answer</td>
        <td>:</td>
        <td>7</td>
    </tr>
    <tr>
        <td>Grade</td>
        <td>:</td>
        <td>70%</td>
    </tr>
</table>

    </div>


   
  </form>
</div>

</div>
</div>