<nav class="navbar navbar-expand-lg static-top" style="color: #d6d7ee; background-color: #d6d7ee;">
  <div class="container"  style="color: #d6d7ee;background-color: #d6d7ee;padding-top: 20px;padding-bottom: 20px;">
    <a class="navbar-brand" href="javascript:void(0)">
      <img src="./assets/Images/skd-logo.png" alt="..." height="36">
    </a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto" >
       <div>
 
       </div>

      </ul>
    </div> -->
  </div>
</nav>

<div class="wrapperAlert">

    <div class="contentAlert">
  
      <div class="topHalf">
  
        <p><svg viewBox="0 0 512 512" width="100" title="check-circle">
          <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
          </svg></p>
        <h1>{{this.SuccessMessage}}</h1>
  
       <ul class="bg-bubbles">
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
       </ul>
      </div>
  
      <div class="bottomHalf" [hidden]="this.CheatingAttempted">  
        <h2>Well Done!</h2>
        <p>Your examination has been submitted successfully.</p>
        <p>You will be notified for your result by university examination authority, through email.</p> 
      </div>
  
      <div class="bottomHalf" [hidden]="!this.CheatingAttempted">  
        <p>You tried for cheating by changing tab/screen/window.</p>
        <p>Your examination has been submitted successfully.</p>
        <p>You will be notified for your result by university examination authority, through email.</p> 
        <button (click)="backToLogin()">Back To Login</button>
      </div>
    </div>        
  
  </div>
