<div *ngIf="loading==false" class="bg-gradient">
  <div class="container login">
    <div class="login-box col-md-4">
      <h3 class="fw-bold" style="text-align: center;"><img src="./assets/Images/SKDLogo.png" style="width:140px;"></h3>
      
      <form class="my-form" #formData="ngForm" (ngSubmit)="loginUser(formData)">
        <div class="form-group">
          <label for="userName">UserID</label>
          <input type="text" class="form-control" name="email" placeholder="demo@example.com" ngModel>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" ngModel>
        </div>
        <div class="form-group form-check">
          <input name="checkbox" type="checkbox" class="form-check-input" id="remember-me" ngModel>
          <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <button  type="submit" class="btn btn-primary btn-block submit-btn" style="width:100%;">Login
          <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
        </button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="loading==true" class="spin">Loading...</div>