<div class="bg-gradient">
    <div class="container login">
        <div class="quiz-btn col-md-6" style="text-align: right;">
           <span>Remaining Time : 30 Min</span>
        </div>
      <div class="login-box col-md-6">
  <form action="#" class="my-form">
    <div class="form-group">
     <h3>Q1. The instrument that measure the relative humidity of air?</h3>
     <ul>
        <li><label><input type="radio"> A. Hydrometer</label></li>
        <li><label><input type="radio"> B. Hygrometer</label></li>
        <li><label><input type="radio"> C. Lactometer</label></li>
        <li><label><input type="radio"> D. Barometer</label></li> 
     </ul>
    </div>
    <div class="form-group">
        <h3>Q2. The instrument that measure the relative humidity of air?</h3>
        <ul>
           <li><label><input type="radio"> A. Hydrometer</label></li>
           <li><label><input type="radio"> B. Hygrometer</label></li>
           <li><label><input type="radio"> C. Lactometer</label></li>
           <li><label><input type="radio"> D. Barometer</label></li> 
        </ul>
       </div>

   
  </form>
</div>
<div class="quiz-btn col-md-6">
<button type="submit" class="btn btn-primary btn-block submit-btn" style="background: orange;border: none;">Previous</button>
<button type="submit" class="btn btn-primary btn-block submit-btn" style="background: orange;border: none;">Next</button>
<button type="submit" class="btn btn-primary btn-block submit-btn" routerLink="/quizfinish" style="float: right;">Finish Test</button>
</div>
</div>
</div>