<nav class="navbar navbar-expand-lg static-top" style="color: #d6d7ee; background-color: #d6d7ee;">
   <div class="container" style="color: #d6d7ee;background-color: #d6d7ee;">
      <a class="navbar-brand" href="javascript:void(0)">
         <img src="./assets/Images/skd-logo.png" alt="..." height="36">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ms-auto">
            <div>
               <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#"><i class="fa fa-user"></i>Name : {{username}} <br>
                     Subject: {{subjectname}}</a>
                  <!-- <button class="btn btn-primary" (click)="logout()">Logout</button>  -->
               </li>
            </div>

         </ul>
      </div>
   </div>
</nav>

<div class="bg-gradient">
   <div class="container login">

      <div class="col-md-8 quiz-btn" style="text-align: left;margin-bottom: 20px;;">
         <span style="color:#000;font-size: 15px;"><strong>Note :</strong> Please do not change tab/screen/window,
            othrewise you will be considered disqualified and test will be submitted.</span><br>
         <span style="color:#000;font-size: 15px;"><strong>टिप्पणी :</strong> कृपया टैब/स्क्रीन/विंडो न बदलें, अन्यथा
            आपको अयोग्य माना जाएगा और परीक्षण सबमिट किया जाएगा।</span>
      </div>
      <div class="quiz-btn col-md-8" style="text-align: right;font-size: 18px;">
         <!-- <span style="color:black">Remaining Time : {{getFormatedTimer()}}</span> -->
         <span style="color:black">Remaining Time : {{this.showMinSecHtml}}</span>
      </div>
      <!-- <div class="col-sm-2" style="position: absolute;right: 45px;">
         <mat-card>
            <mat-card-header>
               <mat-card-title>
                  Progress
               </mat-card-title>
            </mat-card-header>
            <mat-card-subtitle>
               Quiz will automatically submitted where time reaches to 00
            </mat-card-subtitle>
           <mat-card-content>
            <mat-spinner mode="determinate" color="accent" style="margin:auto;" [value]="78"></mat-spinner>
           </mat-card-content>
         </mat-card>
      </div> -->
      <div [ngClass]="{disabledNoOfCasesDiv : selectedQuestion?.selected == true}">
         <div class="question-box col-md-8 ">
            <form action="#" class="my-form">
               <div ngClass="{{EnglishDivClass}}">
                  <h3>Q{{selectedQuestion?.sequenceno}}. <span class="media-ques" [innerHTML]="selectedQuestion?.question"></span></h3>



                  <div class="form-check">
                     <label class="form-check-label">
                        <input type="radio" class="form-check-input english_radio" [(ngModel)]=buttonChecked
                           (click)="singleQuesResNew($event)" name="A" value="A"
                           [checked]="selectedQuestion?.optionAselected">
                        <span class="ques-media" [innerHTML]="selectedQuestion?.optionA"></span></label>
                     <span *ngIf="selectedQuestion?.selectedoptions === 'A' && selectedQuestion?.optionAselected">✔️</span>
                     <!-- <span>Checked</span> -->
                  </div>

                  <div class="form-check">
                     <label class="form-check-label">
                        <input type="radio" class="form-check-input english_radio" [(ngModel)]=buttonChecked
                           (click)="singleQuesResNew($event)" name="B" value="B"
                           [checked]="selectedQuestion?.optionBselected">
                        <span class="ques-media" [innerHTML]="selectedQuestion?.optionB"></span></label>
                     <span *ngIf="selectedQuestion?.selectedoptions == 'B' && selectedQuestion?.optionBselected">✔️</span>
                  </div>

                  <div class="form-check">
                     <label class="form-check-label">
                        <input type="radio" class="form-check-input english_radio" [(ngModel)]=buttonChecked
                           (click)="singleQuesResNew($event)" name="C" value="C"
                           [checked]="selectedQuestion?.optionCselected">
                        <span class="ques-media" [innerHTML]="selectedQuestion?.optionC"></span></label>
                     <span *ngIf="selectedQuestion?.selectedoptions == 'C' && selectedQuestion?.optionCselected">✔️</span>
                  </div>

                  <div class="form-check">
                     <label class="form-check-label">
                        <input type="radio" class="form-check-input english_radio" [(ngModel)]=buttonChecked
                           (click)="singleQuesResNew($event)" name="D" value="D"
                           [checked]="selectedQuestion?.optionDselected">
                        <span class="ques-media" [innerHTML]="selectedQuestion?.optionD"></span></label>
                     <span *ngIf="selectedQuestion?.selectedoptions == 'D' && selectedQuestion?.optionDselected">✔️</span>
                  </div>


               </div>


               <div ngClass="{{HindiDivClass}}">
                  <h3>Q{{selectedQuestion?.sequenceno}}. <span class="media-ques" [innerHTML]="selectedQuestion?.hiquestion"></span></h3>
                  <div class="form-check">
                     <label class="form-check-label">
                        <input type="radio" class="form-check-input" [(ngModel)]=buttonChecked
                           (click)="singleQuesResNew($event)" name="A" value="{{selectedQuestion?.hioptionA}}"
                           [checked]="selectedQuestion?.hioptionAselected">
                        <span class="ques-media" [innerHTML]="selectedQuestion?.hioptionA"></span></label>


                     <span *ngIf="selectedQuestion?.selectedoptions === 'A' && selectedQuestion?.hioptionAselected">✔️</span>
                  </div>

                  <div class="form-check">
                     <label class="form-check-label">
                        <input type="radio" class="form-check-input" [(ngModel)]=buttonChecked
                           (click)="singleQuesResNew($event)" name="B" value="{{selectedQuestion?.hioptionB}}"
                           [checked]="selectedQuestion?.hioptionBselected">
                        <span class="ques-media" [innerHTML]="selectedQuestion?.hioptionB"></span></label>
                     <span *ngIf="selectedQuestion?.selectedoptions === 'B' && selectedQuestion?.hioptionBselected">✔️</span>
                  </div>

                  <div class="form-check">
                     <label class="form-check-label">
                        <input type="radio" class="form-check-input" [(ngModel)]=buttonChecked
                           (click)="singleQuesResNew($event)" name="C" value="{{selectedQuestion?.hioptionC}}"
                           [checked]="selectedQuestion?.hioptionCselected">
                        <span class="ques-media" [innerHTML]="selectedQuestion?.hioptionC"></span></label>
                     <span *ngIf="selectedQuestion?.selectedoptions === 'C' && selectedQuestion?.hioptionCselected">✔️</span>
                  </div>

                  <div class="form-check">
                     <label class="form-check-label">
                        <input type="radio" class="form-check-input" [(ngModel)]=buttonChecked
                           (click)="singleQuesResNew($event)" name="D" value="{{selectedQuestion?.hioptionD}}"
                           [checked]="selectedQuestion?.hioptionDselected">
                        <span class="ques-media" [innerHTML]="selectedQuestion?.hioptionD"></span></label>
                     <span *ngIf="selectedQuestion?.selectedoptions === 'D' && selectedQuestion?.hioptionDselected">✔️</span>
                  </div>

               </div>


            </form>

         </div>

      </div>


      <div class="quiz-btn col-md-8">
         <button *ngIf="questionCounter!=0" class="btn btn-primary btn-block submit-btn"
            style="background: orange;border: none;" (click)="prevQues()">Previous</button>
         <button *ngIf="questionCounter<totalQuestions.length-1" class="btn btn-primary btn-block submit-btn"
            style="background: orange;border: none;" (click)="GoToNextQuestion()">Next</button>
         <button (click)="openSubmitModal(firstDialog)" class="btn btn-primary btn-block submit-btn"
            style="float: right;background-color: #332d6d;">Finish</button>
      </div>
   </div>
</div>
<ng-template #firstDialog style="border: navy; opacity: 0.5%;">
   <div class="my-modal">
      <h2 matDialogTitle>Attention, {{username}}!</h2>
      <p matDialogContent>Do you really want to finish your exam?<br>क्या आप वास्तव में अपनी परीक्षा समाप्त करना चाहते हैं?</p>
      <mat-dialog-actions align="end">



         <button mat-button matDialogClose (click)="submitFullResponse('finalsubmission')" class="btn btn-success">Yes</button>
         <button mat-button matDialogClose class="btn btn-danger">No</button>
      </mat-dialog-actions>
   </div>
</ng-template>

<!-- <mat-radio-group aria-label="Select an option">
   <mat-radio-button style="background-color:black" color="warn" name="option1" value="1" (change)="radioChange($event)">Option 1</mat-radio-button>
   <mat-radio-button style="background-color:black" color="warn" name="option2" value="2" (change)="radioChange($event)">Option 2</mat-radio-button>
 </mat-radio-group> -->