<div class="bg-gradient">
   <div class="container login">
      <div class="quiz-btn col-md-6" style="text-align: right;">
         <span style="color:black">Remaining Time : 30 Min</span>
      </div>
      <div class="question-box col-md-6">
         <form action="#" class="my-form">
            <div class="form-group">
               <h3>Q{{selectedQuestion?.sequenceno}}. {{selectedQuestion?.question}}</h3>


                <div class="form-check">
               <input type="radio" class="form-check-input" 
               [(ngModel)]=buttonChecked (click)="singleQuesResNew($event)" name="A"
               value="A"> 
               <label class="form-check-label"> {{selectedQuestion?.optionA}}</label>
               <span *ngIf="selectedQuestion?.selectedoptions === 'A' && selectedQuestion?.selected">✔️</span>
               <!-- <span>Checked</span> -->
               </div>

               <div class="form-check">
               <input type="radio" class="form-check-input"
               [(ngModel)]=buttonChecked (click)="singleQuesResNew($event)" name="B" 
               value="B"> 
               <label class="form-check-label"> {{selectedQuestion?.optionB}}</label>
               <span *ngIf="selectedQuestion?.selectedoptions == 'B' && selectedQuestion?.selected">✔️</span>
               </div>

               <div class="form-check">
               <input type="radio" class="form-check-input"
               [(ngModel)]=buttonChecked (click)="singleQuesResNew($event)" name="C" 
               value="C"> 
               <label class="form-check-label"> {{selectedQuestion?.optionC}}</label>
               <span *ngIf="selectedQuestion?.selectedoptions == 'C' && selectedQuestion?.selected">✔️</span>     
               </div>
               
               <div class="form-check">
               <input type="radio" class="form-check-input"
               [(ngModel)]=buttonChecked (click)="singleQuesResNew($event)" name="D"
               value="D"> 
               <label class="form-check-label"> {{selectedQuestion?.optionD}}</label>
               <span *ngIf="selectedQuestion?.selectedoptions == 'D' && selectedQuestion?.selected">✔️</span>
               </div>


            </div>


            <div class="form-group">
               <h3>Q{{selectedQuestion?.sequenceno}}. {{selectedQuestion?.hiquestion}}</h3>
                 <div class="form-check">
               <input type="radio" class="form-check-input" 
               [(ngModel)]=buttonChecked (click)="singleQuesResNew($event)" name="A"
               value="{{selectedQuestion?.hioptionA}}"> 
               <label class="form-check-label"> {{selectedQuestion?.hioptionA}}</label>
               <span *ngIf="selectedQuestion?.selectedoptions === 'A' && selectedQuestion?.selected">✔️</span>
               </div>

               <div class="form-check">
               <input type="radio" class="form-check-input"
               [(ngModel)]=buttonChecked (click)="singleQuesResNew($event)" name="B" 
               value="{{selectedQuestion?.hioptionB}}"> 
               <label class="form-check-label"> {{selectedQuestion?.hioptionB}}</label>
               <span *ngIf="selectedQuestion?.selectedoptions === 'B' && selectedQuestion?.selected">✔️</span>
               </div>

               <div class="form-check">
               <input type="radio" class="form-check-input"
               [(ngModel)]=buttonChecked (click)="singleQuesResNew($event)" name="C" 
               value="{{selectedQuestion?.hioptionC}}"> 
               <label class="form-check-label"> {{selectedQuestion?.hioptionC}}</label>
               <span *ngIf="selectedQuestion?.selectedoptions === 'C' && selectedQuestion?.selected">✔️</span>
               </div>
               
               <div class="form-check">
               <input type="radio" class="form-check-input"
               [(ngModel)]=buttonChecked (click)="singleQuesResNew($event)" name="D"
               value="{{selectedQuestion?.hioptionD}}"> 
               <label class="form-check-label"> {{selectedQuestion?.hioptionD}}</label>
               <span *ngIf="selectedQuestion?.selectedoptions === 'D' && selectedQuestion?.selected">✔️</span>
                  </div>

            </div>


         </form>

      </div>
      <div class="quiz-btn col-md-6">
         <button *ngIf="questionCounter!=0"  class="btn btn-primary btn-block submit-btn" style="background: orange;border: none;"
            (click)="prevQues()">Previous</button>
         <button *ngIf="questionCounter<totalQuestions.length-1" class="btn btn-primary btn-block submit-btn" style="background: orange;border: none;"
            (click)="nextQues()">Next</button>
         <button *ngIf="questionCounter==totalQuestions.length-1" (click)="nextQues()" class="btn btn-primary btn-block submit-btn" routerLink="/quizfinish" style="float: right;">Finish
            Test</button>
      </div>
   </div>
</div>

<!-- <mat-radio-group aria-label="Select an option">
   <mat-radio-button style="background-color:black" color="warn" name="option1" value="1" (change)="radioChange($event)">Option 1</mat-radio-button>
   <mat-radio-button style="background-color:black" color="warn" name="option2" value="2" (change)="radioChange($event)">Option 2</mat-radio-button>
 </mat-radio-group> -->