<!-- <div (contextmenu)="onRightClick()"> -->
   <section>
      <router-outlet>

      </router-outlet>
   </section>




   <div class="py-4 bg-white footer-copyright"
      style="background: linear-gradient(to bottom, #d6d7ee 0%, #d6d7ee 100%);padding-top: 1rem !important;padding-bottom: 1rem !important;">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-md-12" style="text-align: center;">
               <span class="me-3 small">©2023 <b class="text-primary">SKD-University</b>. All rights reserved</span>
            </div>
         </div>
      </div>
   </div>
<!-- </div> -->