<header>
<nav id="main-nav">
  <ul id="site-nav">
    <li id="logo">
      <a href="#"><img src="./assets/Images/skd-logo.png" style="width:200px;"></a>
    </li>
    <li class="menu-right"><i class="fa fa-user"></i>
      <ul>
        <li>Welcome Guest, Login / Register</li>
      </ul>
    </li>

    <button (click)="logout()" style="float:right;">Logout</button>

  </ul>
</nav>
</header>
<section>
<router-outlet>

</router-outlet>
</section>




<div class="py-4 bg-white footer-copyright">
  <div class="container">
     <div class="row align-items-center">
        <div class="col-md-12" style="text-align: center;">
           <span class="me-3 small">©2023 <b class="text-primary">SKD-University</b>. All rights reserved</span>
        </div>
     </div>
  </div>
</div>