<nav class="navbar navbar-expand-lg static-top" style="color: #d6d7ee; background-color: #d6d7ee;">
   <div class="container"  style="color: #d6d7ee;background-color: #d6d7ee;">
     <a class="navbar-brand" href="#">
       <img src="./assets/Images/skd-logo.png" alt="..." height="36">
     </a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav ms-auto" >
         <li class="nav-item" *ngIf="userloggedin==true">
           <a class="nav-link" aria-current="page" href="#"><i class="fa fa-user"></i>Welcome : {{username}}  Subject: {{subjectname}}</a>
           <button class = "btn btn-primary" (click)="logout()">Logout</button>
         </li>
       </ul>
     </div>
   </div>
 </nav>
<section>
<router-outlet>

</router-outlet>
</section>




<div class="py-4 bg-white footer-copyright" style="background: linear-gradient(to bottom, #d6d7ee 0%, #d6d7ee 100%);padding-top: 1rem !important;padding-bottom: 1rem !important;">
  <div class="container">
     <div class="row align-items-center">
        <div class="col-md-12" style="text-align: center;">
           <span class="me-3 small">©2023 <b class="text-primary">SKD-University</b>. All rights reserved</span>
        </div>
     </div>
  </div>
</div>