<div class="container" style="padding-top:2rem;padding-bottom:3rem;">
    <div class="row">
        <h2>User Agreement</h2>

        <p>
            A User Agreement is a legally binding contract between you and the people who use your website. It contains
            clauses that inform your users what exactly they need to agree to in order to use your website or services,
            and lets users know what their rights are concerning their personal information.

            A User Agreement should be written in a way that is easy for users to read and understand and should contain
            clauses that are specific to your business.

            A User Agreement and a Terms and Conditions agreement contain much of the same content and operate with the
            same purpose. The key difference is in how they're titled, and the fact that a User Agreement is usually
            used in place of a Terms and Conditions agreement on websites that have more user-generated content (UGC).

            UGC is just what the name describes: Content that is created by users of your website. UGC can come in
            various forms, including images, videos, comments, social media posts, memes, reviews, and testimonials.
        </p>

        <p>
            A User Agreement is a legally binding contract between you and the people who use your website. It contains
            clauses that inform your users what exactly they need to agree to in order to use your website or services,
            and lets users know what their rights are concerning their personal information.

            A User Agreement should be written in a way that is easy for users to read and understand and should contain
            clauses that are specific to your business.

            A User Agreement and a Terms and Conditions agreement contain much of the same content and operate with the
            same purpose. The key difference is in how they're titled, and the fact that a User Agreement is usually
            used in place of a Terms and Conditions agreement on websites that have more user-generated content (UGC).

            UGC is just what the name describes: Content that is created by users of your website. UGC can come in
            various forms, including images, videos, comments, social media posts, memes, reviews, and testimonials.
        </p>

        <p>
            A User Agreement is a legally binding contract between you and the people who use your website. It contains
            clauses that inform your users what exactly they need to agree to in order to use your website or services,
            and lets users know what their rights are concerning their personal information.

            A User Agreement should be written in a way that is easy for users to read and understand and should contain
            clauses that are specific to your business.

            A User Agreement and a Terms and Conditions agreement contain much of the same content and operate with the
            same purpose. The key difference is in how they're titled, and the fact that a User Agreement is usually
            used in place of a Terms and Conditions agreement on websites that have more user-generated content (UGC).

            UGC is just what the name describes: Content that is created by users of your website. UGC can come in
            various forms, including images, videos, comments, social media posts, memes, reviews, and testimonials.
        </p>


        <p>
            A User Agreement is a legally binding contract between you and the people who use your website. It contains
            clauses that inform your users what exactly they need to agree to in order to use your website or services,
            and lets users know what their rights are concerning their personal information.

            A User Agreement should be written in a way that is easy for users to read and understand and should contain
            clauses that are specific to your business.

            A User Agreement and a Terms and Conditions agreement contain much of the same content and operate with the
            same purpose. The key difference is in how they're titled, and the fact that a User Agreement is usually
            used in place of a Terms and Conditions agreement on websites that have more user-generated content (UGC).

            UGC is just what the name describes: Content that is created by users of your website. UGC can come in
            various forms, including images, videos, comments, social media posts, memes, reviews, and testimonials.
        </p>



        <!-- <label>Agree</label> -->
        <p><a class="agree-btn" (click)="agree()">I Agree</a></p>
        <!-- <label><input type="checkbox" name="radiobox" required> </label>

        <input type="radio" name="radiobox" (click)="notAgree()" ><span>Not Agree</span> -->
    </div>
</div>